input {
  outline: none;
  border: none;
  border-radius: 3px;
  height: 2rem;
  width: 60%;
  padding-left: 1rem;
}

.isobar {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.fm {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 1rem;
}