nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.options_container {
  background-color: hsl(0, 0%, 87%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.results_found {
  color: hsl(0, 0%, 50%);
  margin-left: 1rem;
  font-weight: 400;
}

.options_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 33%);
  color: hsl(0, 0%, 100%);
  width: 3rem;
  height: 100%;
  border: none;
  font-size: 1.9rem;
  cursor: pointer;
}

.options_btn p {
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.options_popup{
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-align: end;
  
  position: absolute;
  margin-left: -10.2rem;
  cursor: pointer;
}

.options_popup p{
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem;
}

.results_container {
  margin-top: 8.5rem;
}

.band_container {
  display: flex;
  margin: 1rem 2rem;
}

.band_info{
  margin-left: 1.5rem;
  align-self: flex-end;
}

.band_name {
  text-transform: uppercase;
  font-weight: 400;
}

.band_img {
  width: 5rem;
  border-radius: 50%;
}

.band_plays {
  color: hsl(0, 0%, 83%);
  text-transform: uppercase;
  font-weight: 300;
}